.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: scroll;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.overlay {
	position: fixed;
	inset: 0;
	background-color: rgb(0 0 0 / 30%);
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.overlay_visible {
	opacity: 1;
	pointer-events: auto;
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.title {
	margin: 0 0 30px;
}

.field {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.label {
	margin-bottom: 4px;
}

.fontSizeButtons {
	display: flex;
	gap: 10px;
}

.fontSizeButton {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding: 15px 17px;
	background-color: #ffffff;
	border: 1px solid #000000;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.fontSizeButton:hover {
	outline: 1px solid #ffc802;
}

.fontSizeButton_active {
	background-color: #ffc802;
	border: 1px solid #000000;
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}
